<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->

<!-- Page, "data-page" contains page name -->
<div data-page="home" class="page">
    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="right">
                toto
            </div>
        </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content">
        <div class="content-block">
            <h1>HOME</h1>
        </div>
    </div>
</div>